<html>
<head>
<title>NETGEAR Router RAX40</title>
<META HTTP-EQUIV="Refresh" CONTENT="2">
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<link rel="stylesheet" href="form.css">
<script language=JavaScript type="text/javascript">
<!--
function changepage()
{
	var cf = document.forms[0];
	if (cf.testOK.value == "true")
	
		window.setTimeout("window.location.replace('http://www.netgear.com/success/generic.aspx')",2000);
	
	/*
		window.setTimeout("window.location.replace('')",2000);
	*/
	else
		window.setTimeout("window.location.replace('BAS_wtest_d.htm')",2500);        
}
//-->
</script>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text=black onLoad="changepage()">
<form method="post" action="wtest_d.cgi?">
<div align="center" class="main_bas">
<br>
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2" align="center"><b><% GetMultiLangStr("SBS035") %></b></td>
</tr>

<tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>



<tr>
<td colspan="2" align="left">
 <% GetMultiLangStr("SBS033") %>
 </td></tr>

 <tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>

 
 <tr>
 <td colspan="2" align="center"><BR>
 <input type="button" name="close" value="Close" Window onclick="self.close()" class="button-sty1"></td>
</tr>
</table>
 
</div>

<input type="hidden" name="testOK" value="<% GetPageCfg("BAS_wtest_dhcp_testOK") %>">

</form>

</body>
</html>

