<!DOCTYPE HTML>
<html>

<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title> 
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/form.css">
<link rel="stylesheet" href="css/custom.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {

        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            window.frames["helpframe"].$('#content').jScrollPane({showArrows:true});
            imgSrc.src="img/helparrowdown-icon.png";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.png";
            setTimeout(setHelpIframeVisible,500);
        }
        if((navigator.appName.indexOf("Internet Explorer")==-1) ||
           (navigator.appVersion.indexOf("MSIE 9")==-1))
             change_size();

    }

    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function chgSel(index)
{
 document.forms[0].select.value = index;
 return true;
}

/*
function chSession(newsession)
{
    if(newsession == 2)
        location.href = "BKS_service_ppp2.htm";		
    else if(newsession == 1)
        location.href = "BKS_service.htm";		
}
*/
function init()
{
    var cf = document.forms[0];

	if(cf.BKSenable.value == "1")
		cf.skeyword[2].checked = true;
	else if(cf.BKSenable.value == "2")
		cf.skeyword[1].checked = true;
	else
		cf.skeyword[0].checked = true;

	cf.ruleSelect[0].checked = true;
    return true;
}

//-->
</script> 
</head>
<body  onload="change_size(); init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image_noh.gif">
<img class="body-image" src="img/subhead2-background_noh.jpg">
<div id="full-page-container">

<form id="target"  name="frmService" method="POST" action="fw_serv.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
	<img class="subtop-image" src="img/subhead2-top_noh.gif">
<div class="subhead2"> <% GetMultiLangStr("LUP018") %></div>
<table border="0"    style="height:370px"  class="subhead2-table main_bas">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
<div class="fix_button">
<button value="<% GetMultiLangStr("UAS021") %>" onclick="buttonClick(this,'<% GetMultiLangStr("UAS021") %>');location.href='BKS_service.html'"  type="button" name="cancel" id="cancel" class="button-cancel cancel_bt" ><% GetMultiLangStr("UAS021") %></button>
<button value="<% GetMultiLangStr("LUP004") %>"  onclick="buttonClick(this,'<% GetMultiLangStr("LUP004") %>');"  type="submit" name="apply" id="apply" class="button-apply apply_bt"><% GetMultiLangStr("LUP004") %></button>

</div>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

   

 <TR>
 <TD align="left" colspan="2" class="pt-0"><a href="javascript:loadhelp('BKS_service','block')" tabindex="-1"><b class="mb-15"><% GetMultiLangStr("CBE002") %></b></a>
 </TD></TR>
<TR> <TD align="left" colspan="2"  class="pt-0">
    <label class="checkbox-container"><% GetMultiLangStr("CBS012") %>
        <input type="radio" checked name="skeyword" value="never">
        <span class="radio-checkmark"></span>
	</label>	 
</TD></TR>
<tr><TD align="left" colspan="2"  class="pt-0">
    <label class="checkbox-container"><% GetMultiLangStr("CBS013") %>
        <input type="radio"  name="skeyword" value="perschedule">
        <span class="radio-checkmark"></span>
	</label>	 
</TD></tr>
<TR><TD align="left" colspan="2"  class="pt-0">
    <label class="checkbox-container"><% GetMultiLangStr("CBS001") %>
        <input type="radio"  name="skeyword" value="always">
        <span class="radio-checkmark"></span>
	</label>

 
 </TD>
 </TR>
<tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>
<tr>
	<td colspan="2">
		<a href="javascript:loadhelp('BKS_service','table')" tabindex="-1"><b><% GetMultiLangStr("CBE004") %></b></a></td>
</tr>
	<tr>
	<td colspan="2">
		<table border="1" cellpadding="2" cellspacing="0" width="100%" id="services_table" class="tbWhite cmn-table-2">
		<tr class="table_header">
			<td nowrap align="center" width="6%">&nbsp;	 	</td>
			<td nowrap align="center" width="6%"><span class="thead"># </span>	</td>
			<td nowrap align="center"><span class="thead"><% GetMultiLangStr("CBE005") %></span></td>
			<td nowrap align="center"><span class="thead"><% GetMultiLangStr("SBS028") %></span></td>
			<td nowrap align="center"><span class="thead"><% GetMultiLangStr("CBE003") %></span></td>
		</tr>
		<% GetPageCfg("BlockService_Table") %>
        </table>
	</td>
</tr>

<tr>
<td colspan="2" align="center">
<button type="Submit" value="<% GetMultiLangStr("OTH012") %>" name="Add" id="add" class="button-sty1" onclick="buttonClick(this,'<% GetMultiLangStr("OTH012") %>');" ><% GetMultiLangStr("OTH012") %></button>
<button type="Submit" value="<% GetMultiLangStr("UAS011") %>" name="Edit" id="edit" class="button-sty1" onclick="buttonClick(this,'<% GetMultiLangStr("UAS011") %>');" ><% GetMultiLangStr("UAS011") %></button>
<button type="Submit" value="<% GetMultiLangStr("UAS013") %>" name="Delete" id="delete" class="button-sty1" onclick="buttonClick(this,'<% GetMultiLangStr("UAS013") %>');" ><% GetMultiLangStr("UAS013") %></button></td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('seprator.gif');width:100%;background-repeat:repeat-x;">&nbsp;</div></td></tr>
<tr><td colspan="2" height="24"></td></tr>
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="BKS_service_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   
<div class="subhead2-bottom" >
    <span class="help_ico"><img src="img/help-icon.png" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text help_center_text" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <% GetMultiLangStr("genie_51") %> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.png" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <% GetMultiLangStr("genie_123") %> </span>
      </div>




	<input type="hidden" name="select" value="-1">
	<input type="hidden" name="BKSenable" value="<% GetPageCfg("BlockService_BKSenable") %>">
	<INPUT type="hidden" name="USER_SET_TOKEN" value="<% GetCommonCfg("USER_SET_TOKEN") %>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
 <head>
  <META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

</head>
</html>

