<!DOCTYPE HTML>
<html>

<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title>
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/form.css">
<link rel="stylesheet" href="css/custom.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<script language="javascript" type="text/javascript">
<!--
var AlertTimeDisabled = false;
var AlertHourDisabled = false;

  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {

        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            window.frames["helpframe"].$('#content').jScrollPane({showArrows:true});
            imgSrc.src="img/helparrowdown-icon.png";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.png";
            setTimeout(setHelpIframeVisible,500);
        }
        if((navigator.appName.indexOf("Internet Explorer")==-1) ||
           (navigator.appVersion.indexOf("MSIE 9")==-1))
             change_size();

    }

    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function disable_am(disable_flag)
{
	var cf = document.forms[0];
	cf.cfAlert_am[0].disabled = disable_flag;
	cf.cfAlert_am[1].disabled = disable_flag;
}

function OnAlertChange()
{
	var cf = document.forms[0];
	var index = cf.cfAlert_Select.selectedIndex;
	if ( (index == 0) || (index == 1) || (index == 4) )
	{
		cf.cfAlert_Day.selectedIndex = 0;
		cf.cfAlert_Hour.selectedIndex= 0;
		cf.cfAlert_Day.disabled = true;
		cf.cfAlert_Hour.disabled = true;
		AlertTimeDisabled = true;
		AlertHourDisabled = true;
		disable_am(true);
	}
	else if(index == 2) // daily
	{
		cf.cfAlert_Day.selectedIndex = 0;
		cf.cfAlert_Day.disabled = true;
		cf.cfAlert_Hour.disabled = false;
		AlertTimeDisabled = true;
		AlertHourDisabled = false;
		disable_am(false);

	}
	else if(index == 3) // weekly
	{
		cf.cfAlert_Day.disabled = false;
		cf.cfAlert_Hour.disabled = false;
		AlertTimeDisabled = false;
		AlertHourDisabled = false;
		disable_am(false);
	}
}
function checkData()
{
    var cf = document.forms[0];
    cf.email_alert.value = "0";
    cf.time_day.value = "";
    cf.time_hour.value = "";
    cf.time_type.value = "0";

    if(!cf.email_notify.checked) cf.email_enable.value = 0;
    else
    {
        cf.email_enable.value = 1;
        var tmp=cf.email_smtp.value.split(".");
        if(tmp.length < 3)
        {
            //alert("Error: Invalid SMTP server address.");
            alert("<% GetMultiLangStr("CEME01") %>");
            cf.email_smtp.focus();
            return false;
        }

        if(cf.email_addr.value == "")
        {
	    //alert("Please fill email Address");
	    alert("Please fill email Addres");
	    return false;
        }


        //if(cf.email_addr.value.indexOf("@", 0) == -1 ||
        //   cf.email_addr.value.indexOf(".", 0) == -1)
        //{
        //    alert("Error: Invalid e-mail address.");
        //    cf.email_addr.focus();
        //    return false;
        //}

        if (cf.smtp_auth.checked)
            cf.auth_enable.value = 1;
        else
            cf.auth_enable.value = 0;

        if(cf.block_site.checked)
            cf.email_alert.value = "1";

        cf.time_type.value = cf.cfAlert_Select.options[cf.cfAlert_Select.selectedIndex].value;

        if(cf.cfAlert_Select.selectedIndex == 2)// daily
        {
            if(cf.cfAlert_Hour.selectedIndex < 0)
            {
                return false;
            }
            if(!cf.cfAlert_am[0].checked && !cf.cfAlert_am[1].checked)
            {
                return false;
            }
            cf.time_hour.value = cf.cfAlert_Hour.options[cf.cfAlert_Hour.selectedIndex].value;
            if(cf.cfAlert_am[1].checked) cf.time_hour.value = parseInt(cf.time_hour.value) + 12;
        }

        if(cf.cfAlert_Select.selectedIndex == 3) // weekly
        {
            if(cf.cfAlert_Day.selectedIndex < 0)
            {
                return false;
            }
            if(cf.cfAlert_Hour.selectedIndex < 0)
            {
                return false;
            }
            if(!cf.cfAlert_am[0].checked && !cf.cfAlert_am[1].checked)
            {
                return false;
            }
            cf.time_day.value = cf.cfAlert_Day.options[cf.cfAlert_Day.selectedIndex].value;
            cf.time_hour.value = cf.cfAlert_Hour.options[cf.cfAlert_Hour.selectedIndex].value;
            if(cf.cfAlert_am[1].checked) cf.time_hour.value = parseInt(cf.time_hour.value) + 12;
        }
		
		if(isNumeric(cf.smtp_port,65535))
		{
		alert("The port number must be less than 65536.");
		cf.smtp_port.focus();
		return false;		
		}
	    if(parseInt(cf.smtp_port.value,10) < 1)
	    {
		alert("The port number must be bigger than 0.");
		cf.smtp_port.focus();
		return false;
        }
    }
    return true;
}

function init()
{
    var cf = document.forms[0];
    cf.email_notify.checked = false;
    cf.smtp_auth.checked = false;    
    cf.block_site.checked = false;
    //cf.download_finish_alert.checked = false;
    cf.cfAlert_Select.selectedIndex = 4;
    cf.cfAlert_Day.selectedIndex = 0;
    cf.cfAlert_Hour.selectedIndex = 0;
    cf.cfAlert_am[0].checked = true;
    cf.cfAlert_am[1].checked = false;

    if(cf.email_alert.value == "1")
    {
        cf.block_site.checked = true;
    }

    if(cf.time_type.value==1) cf.cfAlert_Select.selectedIndex=0;
    else if(cf.time_type.value==2) cf.cfAlert_Select.selectedIndex=1;
    else if(cf.time_type.value==3) cf.cfAlert_Select.selectedIndex=2;
    else if(cf.time_type.value==4) cf.cfAlert_Select.selectedIndex=3;
    else if(cf.time_type.value==0) cf.cfAlert_Select.selectedIndex=4;

    if(cf.time_type.value == 0 || cf.time_type.value == 1 || cf.time_type.value == 2)
    //none or when log full or hourly
    {
        cf.cfAlert_Day.disabled = true;
        cf.cfAlert_Hour.disabled = true;
        cf.cfAlert_am[0].disabled = true;
        cf.cfAlert_am[1].disabled = true;
    }
    else if(cf.time_type.value == 3) //daily
    {
        cf.cfAlert_Day.disabled = true;
        if(cf.time_hour.value >= 12) //pm
        {
            cf.cfAlert_Hour.selectedIndex = cf.time_hour.value - 12;
            cf.cfAlert_am[1].checked = true;
        }
        else //am
        {
            cf.cfAlert_Hour.selectedIndex = cf.time_hour.value;
            cf.cfAlert_am[0].checked = true;
        }
    }
    else if(cf.time_type.value == 4) //weekly
    {
        cf.cfAlert_Day.selectedIndex = cf.time_day.value;
        if(cf.time_hour.value >= 12) //pm
        {
            cf.cfAlert_Hour.selectedIndex = cf.time_hour.value - 12;
            cf.cfAlert_am[1].checked = true;
        }
        else //am
        {
            cf.cfAlert_Hour.selectedIndex = cf.time_hour.value;
            cf.cfAlert_am[0].checked = true;
        }
    }
    
    if(cf.email_from.value == 1) 
    {
        cf.email_enable.value = 1;
        //cf.download_finish_alert.checked = true;
    }
    //else if (cf.doloaded_mail.value == 1)    
        //cf.download_finish_alert.checked = true;

    if(cf.email_enable.value == 1) 
    {
        cf.email_notify.checked = true;
        //cf.download_finish_alert.disabled = false;
        
        if (cf.auth_enable.value == 0)
        {
            cf.auth_user.disabled = true;
            cf.auth_pwd.disabled = true;
        }
    }
    else
    {
        cf.smtp_auth.disabled = true;
        cf.block_site.disabled = true;
        //cf.download_finish_alert.disabled = true;
        cf.email_smtp.disabled = true;
        cf.email_addr.disabled = true;
        cf.email_sender.disabled = true;
        cf.smtp_port.disabled = true;
        cf.auth_user.disabled = true;
        cf.auth_pwd.disabled = true;
        cf.cfAlert_Select.disabled = true;
        cf.cfAlert_Day.disabled = true;
        cf.cfAlert_Hour.disabled = true;
        cf.cfAlert_am[0].disabled = true;
        cf.cfAlert_am[1].disabled = true;
    }


    if (cf.auth_enable.value == 1)
        cf.smtp_auth.checked = true;
    
    if(cf.smtp_check.value != "OK")
    {
//        alert(cf.smtp_check.value);
        //cf.smtp_check.value = "OK";
        //history.back();
    }

}

function setGray()
{
    var cf = document.forms[0];

    if(cf.email_notify.checked)
    {
        cf.smtp_auth.disabled = false;
        cf.block_site.disabled = false;
        //cf.download_finish_alert.disabled = false;
        cf.email_smtp.disabled = false;
        cf.email_addr.disabled = false;
        cf.email_sender.disabled = false;
        cf.auth_user.disabled = false;
        cf.auth_pwd.disabled = false;
        cf.smtp_port.disabled = false;
        cf.cfAlert_Select.disabled = false;
    }
    else
    {
        cf.smtp_auth.disabled = true;
        cf.block_site.disabled = true;
        //cf.download_finish_alert.disabled = true;
        cf.email_smtp.disabled = true;
        cf.email_addr.disabled = true;
        cf.email_sender.disabled = true;
        cf.auth_user.disabled = true;
        cf.auth_pwd.disabled = true;
        cf.smtp_port.disabled = true;
        cf.cfAlert_Select.disabled = true;
        cf.cfAlert_Day.disabled = true;
        cf.cfAlert_Hour.disabled = true;
        cf.cfAlert_am[0].disabled = true;
        cf.cfAlert_am[1].disabled = true;
    }
}

function CancelAction()
{
    var cf = document.forms[0];

    cf.result.value="cancel";
    return true;
}

function setAuthGray()
{
    var cf = document.forms[0];

    if(cf.smtp_auth.checked)
    {
        cf.auth_user.disabled = false;
        cf.auth_pwd.disabled = false;
    }
    else
    {
        cf.auth_user.disabled = true;
        cf.auth_pwd.disabled = true;
    }
}
//-->
</script>
</head>
<BODY bgColor=#ffffff onload="change_size();init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image_noh.gif">
<img class="body-image" src="img/subhead2-background_noh.jpg">
<div id="full-page-container">

<form id="target"  action="/fwEmail.cgi" method="POST" name=formname>
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top_noh.gif">
<!--
<div class="subhead2"> E-mail</div>
-->
<div class="subhead2"> <% GetMultiLangStr("LUP020") %></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
<!--
&nbsp;&nbsp;&nbsp;<button value="Apply"  onClick="buttonClick(this,'Apply');return checkData()" type="SUBMIT" name="cfAlert_Apply" class=button-apply > <span class="roundleft_apply" >Apply&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="Cancel" onclick="buttonClick(this,'Cancel');CancelAction()" type="SUBMIT" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;Cancel</span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
--><div class="fix_button">
<button value="Cancel" onclick="buttonClick(this,'Cancel');CancelAction()" type="SUBMIT" name="Cancel" id="cancel" class="button-cancel cancel_bt" ><% GetMultiLangStr("UAS021") %></button>
<button value="Apply"  onClick="buttonClick(this,'Apply');return checkData()" type="SUBMIT" name="cfAlert_Apply" id="apply" class="button-apply apply_bt"><% GetMultiLangStr("LUP004") %></button>
</div>

</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane main_bas" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
    
    
    <tr>
<!--
        <td colspan="2"><input type="checkbox" name="email_notify" id="email_notify" value="checkboxValue" onclick = "javascript:setGray();"><b>Turn E-mail Notification On</b></td></tr>
-->
        <td colspan="2">
          <label class="checkbox-container">
			<input type="checkbox" name="email_notify" id="email_notify" value="checkboxValue" onclick = "javascript:setGray();"><b><% GetMultiLangStr("CEM014") %></b>
					  <span class="checkbox-checkmark"></span>
					</label>
        
        </td></tr>
    <tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>
    <tr>
<!--
        <td colspan="2"><a href="javascript:loadhelp('FW_email','receive')" tabindex="-1"><b>Send alerts and logs through e-mail</b> </a></td></tr>
-->
        <td colspan="2"><a href="javascript:loadhelp('FW_email','receive')" tabindex="-1"><b><% GetMultiLangStr("CEM010") %></b> </a></td></tr>
    <tr>
<!--
        <td nowrap>&nbsp;Send to This E-mail Address:</td>
-->
        <td nowrap class="pb-0">&nbsp;<% GetMultiLangStr("CEM001") %>:</td>
        <td width="50%" align="left" class="pt-0">
            <input type="text" class="input1" name="email_addr" id="email_addr" value="<% GetPageCfg("email_addr") %>" size="24" maxlength="50"></td></tr>
    <tr>
<!--
        <td nowrap>&nbsp;Sender:</td>
-->
        <td nowrap class="pb-0">&nbsp;<% GetMultiLangStr("PCVP_018") %>:</td>
        <td width="50%" align="left" class="pt-0">
            <input type="text" class="input1" name="email_sender" value="<% GetPageCfg("email_sender") %>" size="24" maxlength="50"></td></tr>
    <tr>
<!--
        <td nowrap>Your Outgoing Mail Server:</td>
-->
        <td nowrap class="pb-0"><% GetMultiLangStr("CEM011") %>:</td>
        <td width="50%" align="left" class="pt-0">
            <input type="text" class="input1" name="email_smtp" id="email_smtp" value="<% GetPageCfg("email_smtp") %>" size="24" maxlength="50"></td></tr>
    <tr>
<!--
        <td nowrap>Outgoing Mail Server Port Number:</td>
-->
        <td nowrap class="pb-0"><% GetMultiLangStr("CEM059") %>:</td>
        <td width="50%" align="left" class="pt-0">
            <input type="text" class="input1" name="smtp_port" id="email_port" value="<% GetPageCfg("smtp_port") %>" size="4" maxlength="50"></td></tr>

    <tr>
        <td colSpan=2 colspan="2" >
        <label class="checkbox-container">
			 <input type="checkbox" name="smtp_auth" id="smtp_auth" onclick = "javascript:setAuthGray();">

        <B><% GetMultiLangStr("CEM002") %></B>
					  <span class="checkbox-checkmark"></span>
					</label>
       </td></tr>    
    <tr>
<!--
        <td>User Name</td>
-->
        <td class="pb-0"><% GetMultiLangStr("SWP051") %></td>
        <td align=left width="50%" class="pt-0"><INPUT class="input1 s_input2"  maxLength=64 name=auth_user id="auth_user" size=24
        value= "<% GetPageCfg("auth_user") %>"> </td></tr>
    <tr>
<!--
        <td>Password</td>
-->
        <td class="pb-0"><% GetMultiLangStr("SWP027") %></td>
        <td align=left width="50%" class="pt-0"><INPUT  class="input1" type=password maxLength=64 name=auth_pwd id="auth_pwd" size=24
        value= "<% GetPageCfg("auth_pwd") %>"> </td></tr>
    
    <tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>
    <!-- /* RUPR_Download start */
    <tr id="rupr_download_support_str" style="display: block;">
        <td colspan="2"><a href="javascript:loadhelp('FW_email','alert')" tabindex="-1"><input type="checkbox"  name="download_finish_alert" value="checkboxValue"><b>Send E-mail notification when a downloader task is finished</b></a></td></tr>
        
    <tr id="rupr_download_support_line" style="display:;">
        <td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    /* RUPR_Download end */ -->
    <tr>
<!--
        <td colspan="2"><a href="javascript:loadhelp('FW_email','alert')" tabindex="-1"><input type="checkbox"  name="block_site" value="checkboxValue"><b>Send Alert Immediately</b></a></td></tr>
-->
        <td colspan="2">
            <label class="checkbox-container">
			 <input type="checkbox"  name="block_site" id="alert_blocksite" value="checkboxValue"><a href="javascript:loadhelp('FW_email','alert')" tabindex="-1"><b><% GetMultiLangStr("CEM009") %></b></a>
					  <span class="checkbox-checkmark"></span>
					</label>
        </td></tr>
    <tr>
<!--
        <td colspan="2" nowrap>When someone attempts to visit a blocked site</td></tr>
-->
        <td colspan="2" nowrap><% GetMultiLangStr("CEM015") %></td></tr>
    <tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>
    <tr>
<!--
	    <td colspan="2" nowrap><a href="javascript:loadhelp('FW_email','schedule')" tabindex="-1"><b>Send logs according to this schedule</b></a></td></tr>
-->
	    <td colspan="2" nowrap><a href="javascript:loadhelp('FW_email','schedule')" tabindex="-1"><b><% GetMultiLangStr("CEM008") %></b></a></td></tr>
    <tr>
	    <td colspan="2">
	        <select name="cfAlert_Select" id="alert_schedule_type" size="1" onchange="OnAlertChange();">
<!--
	            <option selected value=1>When log is full</option>
	            <option value=2>Hourly</option>
	            <option value=3>Daily</option>
	            <option value=4>Weekly</option>
	            <option value=0>None</option></select></td></tr>
-->
	            <option selected value=1><% GetMultiLangStr("CEM006") %></option>
	            <option value=2><% GetMultiLangStr("CEM007") %></option>
	            <option value=3><% GetMultiLangStr("CEM004") %></option>
	            <option value=4><% GetMultiLangStr("CEM016") %></option>
	            <option value=0><% GetMultiLangStr("SWS016") %></option></select></td></tr>
    <tr>
<!--
	    <td colspan="2">Day &nbsp;
-->
	    <td colspan="2"><% GetMultiLangStr("CEM005") %> &nbsp;
	        <select name="cfAlert_Day" id="alert_day" size="1" onFocus="if (AlertTimeDisabled) this.blur()">
<!--
	            <option selected value=0>Sunday</option>
	            <option value=1>Monday</option>
	            <option value=2>Tuesday</option>
	            <option value=3>Wednesday</option>
	            <option value=4>Thursday</option>
	            <option value=5>Friday</option>
	            <option value=6>Saturday</option></select></td></tr>
-->
	            <option selected value=0><% GetMultiLangStr("CSE012") %></option>
	            <option value=1><% GetMultiLangStr("CSE009") %></option>
	            <option value=2><% GetMultiLangStr("CSE015") %></option>
	            <option value=3><% GetMultiLangStr("CSE016") %></option>
	            <option value=4><% GetMultiLangStr("CSE013") %></option>
	            <option value=5><% GetMultiLangStr("CSE006") %></option>
	            <option value=6><% GetMultiLangStr("CSE010") %></option></select></td></tr>
    <tr>
<!--
	    <td colspan="2">Time
-->
	    <td colspan="2"><% GetMultiLangStr("CEM012") %>
		    <select name="cfAlert_Hour" id="alert_hour" size="1" onFocus="if (AlertHourDisabled) this.blur()">
		        <option value=0>12:00</option>
		        <option selected value=1>1:00</option>
		        <option value=2>2:00</option>
		        <option value=3>3:00</option>
		        <option value=4>4:00</option>
		        <option value=5>5:00</option>
		        <option value=6>6:00</option>
		        <option value=7>7:00</option>
		        <option value=8>8:00</option>
		        <option value=9>9:00</option>
		        <option value=10>10:00</option>
		        <option value=11>11:00</option></select>
                <br>
                <label class="checkbox-container">
                <input type="radio"  checked name="cfAlert_am" id="alert_am" value="am">a.m.
		  <span class="radio-checkmark"></span>
		</label><br>
        <label class="checkbox-container">
		<input type="radio" name="cfAlert_am" id="alert_pm" value="pm">p.m.
		  <span class="radio-checkmark"></span>
		</label>
                
                </td></tr>
 <tr><td colspan="2">&nbsp;</td></tr><tr><td colspan="2">&nbsp;</td></tr>
    
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="FW_email_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.png" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
<!--
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> Help Center </span>
-->
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <% GetMultiLangStr("genie_51") %> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.png" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
<!--
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> Show/Hide Help Center </span>
-->
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <% GetMultiLangStr("genie_123") %> </span>
      </div>



<INPUT name=doloaded_mail type=hidden value= "0">
<INPUT name=email_enable type=hidden value= "<% GetPageCfg("email_enable") %>">
<INPUT name=email_from type=hidden value= "0">
<INPUT name=email_alert type=hidden value= "<% GetPageCfg("email_alert") %>">
<INPUT name=port_assign_method type=hidden value= "auto">
<INPUT name=auth_enable type=hidden value= "<% GetPageCfg("auth_enable") %>">
<INPUT name=smtp_check type=hidden value= "OK">
<INPUT name=time_type type=hidden value= "<% GetPageCfg("time_type") %>">
<INPUT name=time_day type=hidden value= "<% GetPageCfg("time_day") %>">
<INPUT name=time_hour type=hidden value= "<% GetPageCfg("time_hour") %>">
<INPUT name=result type=hidden value= "apply">
<INPUT type="hidden" name="USER_SET_TOKEN" value="<% GetCommonCfg("USER_SET_TOKEN") %>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
 <head>
  <META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

</head>

</html>

