<html>
  

<head>
  <META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

  <title>NETGEAR   Genie</title> 
  <link rel="stylesheet" type="text/css" href="css/mainpage.css">
  <link href="css/custom.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      
    <table style="height:92px;width:100%;margin:0;padding:0" CELLPADDING=0 CELLSPACING=0 class="newtopframe">
      <tr>
          <td style="padding-left:20px"><img style="width: 216px" src="img/NightHawk.png" ><br><b style="position:relative;left:6px;"><!--<% GetPageCfg("genie_modelname") %>--></b></td>
          
          <td style="text-align:right;padding-right:25px"><b><!--<% GetMultiLangStr("genie_112") %>:--></b><br><!--<% GetPageCfg("genie_fwversion") %>--></td>  
          
     </tr>
     <tr>
         <td>&nbsp;</td>
     </tr>
    </table>
  </body>
</html>
