<HTML>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title>
<SCRIPT language=JavaScript>

 function doLoad()
 {
 }
 
</SCRIPT>
</HEAD>
<BODY class="page-body" >
<div id="full-page-container">

<form name="formname" method="POST" action="http://admin:password@192.168.1.1/logout.cgi?id=d6477d02b6446f56629fd4faba235c4caac4b62a6b8a8c33bfa2fa1ee9e5de35"> 
<P>&nbsp;</P>
<CENTER>
<P>
<TABLE bgColor=#e5e5e5 border=0 cellPadding=0 cellSpacing=2 height="70%" 
width="90%">
 <TBODY>
 <TR>
 <TD>
 <DIV align=center><B><FONT face="Arial, Helvetica, sans-serif" 
 size=4 ><% GetMultiLangStr("LGT002") %> 
 </FONT></B>
 <P><FONT face="Arial, Helvetica, sans-serif" size=4><B><% GetMultiLangStr("LGT001") %></B>
 </FONT></P></DIV></TD></TR></TBODY></TABLE></CENTER></FORM>
<SCRIPT language=JavaScript>
top.close();
</SCRIPT>
</P></BODY></div>
</HTML>

