<!DOCTYPE HTML>
<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>401 Unauthorized</title>
<link rel="stylesheet" href="css/MNUAccess.css">
<link rel="stylesheet" href="css/button.css">
<link href="css/custom.css" rel="stylesheet" type="text/css">

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

  
//--></script></head>


<body  bgcolor="#FFFFFF">
<p class="subhead2 p1-0"><% GetMultiLangStr("D-genie_337") %></p>

	<table border="0" cellpadding="0" cellspacing="3" style="width:600px">
    <col width="200" />
    <col width="400" />
		<tr>
			<td colspan="2" class="MNUText"><% GetMultiLangStr("genie_160") %></td>
		</tr>
		<tr>
			<td class="MNUText" align="right"><% GetMultiLangStr("genie_110") %> :</td>
			<td class="MNUText" align="left"> <% GetPageCfg("admin_user_name") %></td>
		</tr>
		<tr>
			<td class="MNUText" align="right"><% GetMultiLangStr("genie_109") %> :</td>
			<td class="MNUText" align="left"> <% GetPageCfg("admin_password") %></td>
		</tr>
		<tr>
			<td colspan="2" class="MNUText"><% GetMultiLangStr("PCVP_007") %></td>
		</tr>
		<tr>	
			<td colspan="2" class="pt-20">
				<button type="SUBMIT" value="Login" name="Login" class=button-apply onClick="top.window.location='start.html'"><% GetMultiLangStr("D-genie_341") %></button>
 		  </td>
		</tr>
	</table>



</body>
</html>

