<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html>

<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title> 
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<script language="javascript" type="text/javascript">
<!--

  var timer;
  var timeout = 1000;

  function key_check()
  {
    clearTimeout(timer);
    timer = setTimeout(function(){
      sendpasswdcheck();
    }, timeout);
    return true;
  }

  function key_check_down()
  {
    document.getElementById("password_rules").style.display="none";
    return true;
  }


  function changeCursorPointer()
  {
        document.body.style.cursor='pointer';
  }

  function changeCursorDefault()
  {
        document.body.style.cursor='default';
  }

  function change_answer1()
  {
        document.forms[0].answer1_changed.value = 'changed';
  }

  function change_answer2()
  {
        document.forms[0].answer2_changed.value = 'changed';
  }

    function buttonFilter()
    {
        var buttonElements;

        buttonElements=document.getElementsByTagName('button');
        var i;
        for(i=0;i<buttonElements.length;i++)
        {
            if(buttonElements[i].type=='submit' || buttonElements[i].type=='button'|| buttonElements[i].type=='reset')
            {
                if((buttonElements[i].value!=document.forms[0].buttonHit.name))
                    buttonElements[i].disabled=1;
                else
                {
                      var name;
                      name=buttonElements[i].name;
                      buttonElements[i].name='NoUse';
                      buttonElements[i].disabled=1;
                      document.forms[0].buttonValue.name=name;
                      document.forms[0].buttonHit.disabled=1;
                }
            }
        }

    }

    function buttonClick(btn,value)
    {

        document.forms[0].buttonHit.value=btn.name;
        document.forms[0].buttonValue.value=value;
        return true;
    }


        $("#target").submit(function() {
            buttonFilter();
        });



    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {

        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            window.frames["helpframe"].$('#content').jScrollPane({showArrows:true});
            imgSrc.src="img/helparrowdown-icon.png";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.png";
            setTimeout(setHelpIframeVisible,500);
        }
        if((navigator.appName.indexOf("Internet Explorer")==-1) ||
           (navigator.appVersion.indexOf("MSIE 9")==-1))
             change_size();

    }

    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }



function showQuestion1()
{
	var selected = [ "", "", "", "", "", "", "", "", "", ""];
	
	selected["<% GetPageCfg("question1") %>"] = "selected";
	
	document.open();
	document.write("<select name=\"question1\" id=\"question1\">");
/*
		document.write("<option " + selected[0] + " value=\"0\">Please select a question.</option>");
		document.write("<option " + selected[1] + " value=\"1\">What was the name of the first NETGEAR product you purchased?</option>");
		document.write("<option " + selected[2] + " value=\"2\">What was the name of the first school you attended?</option>");
		document.write("<option " + selected[3] + " value=\"3\">What is your oldest sister's first name?</option>");
		document.write("<option " + selected[4] + " value=\"4\">What is your oldest brother's first name?</option>");
		document.write("<option " + selected[5] + " value=\"5\">In what city were you born?</option>");
		document.write("<option " + selected[6] + " value=\"6\">What is your grandmother's first name?</option>");
		document.write("<option " + selected[7] + " value=\"7\">What is your grandfather's first name?</option>");
		document.write("<option " + selected[8] + " value=\"8\">In what year (YYYY) did you graduate from high school?</option>");
		document.write("<option " + selected[9] + " value=\"9\">What is the name of your first employer?</option>");
*/
		document.write("<option " + selected[0] + " value=\"0\"><% GetMultiLangStr("genie_97") %></option>");
		document.write("<option " + selected[1] + " value=\"1\"><% GetMultiLangStr("genie_149") %></option>");
		document.write("<option " + selected[2] + " value=\"2\"><% GetMultiLangStr("genie_150") %></option>");
		document.write("<option " + selected[3] + " value=\"3\"><% GetMultiLangStr("genie_145") %></option>");
		document.write("<option " + selected[4] + " value=\"4\"><% GetMultiLangStr("genie_144") %></option>");
		document.write("<option " + selected[5] + " value=\"5\"><% GetMultiLangStr("genie_63") %></option>");
		document.write("<option " + selected[6] + " value=\"6\"><% GetMultiLangStr("genie_142") %></option>");
		document.write("<option " + selected[7] + " value=\"7\"><% GetMultiLangStr("genie_141") %></option>");
		document.write("<option " + selected[8] + " value=\"8\"><% GetMultiLangStr("genie_64") %></option>");
		document.write("<option " + selected[9] + " value=\"9\"><% GetMultiLangStr("genie_138") %></option>");
	document.write("</select>");
	document.close();
	return true;
}
function showQuestion2()
{
	var selected = [ "", "", "", "", "", "", "", "", "", ""];
	
	selected["<% GetPageCfg("question2") %>"] = "selected";
	
	document.open();
	document.write("<select name=\"question2\" id=\"question2\">");
/*
		document.write("<option " + selected[0] + " value=\"0\">Please select a question.</option>");
		document.write("<option " + selected[1] + " value=\"1\">What is your youngest sister's first name?</option>");
		document.write("<option " + selected[2] + " value=\"2\">What is your youngest brother's first name?</option>");
		document.write("<option " + selected[3] + " value=\"3\">What is your father's middle name?</option>");
		document.write("<option " + selected[4] + " value=\"4\">What is your mother's middle name?</option>");
		document.write("<option " + selected[5] + " value=\"5\">What was the first name of your first manager?</option>");
		document.write("<option " + selected[6] + " value=\"6\">In what city was your mother born?</option>");
		document.write("<option " + selected[7] + " value=\"7\">In what city was your father born?</option>");
		document.write("<option " + selected[8] + " value=\"8\">What is your best friend's first name?</option>");
*/
		document.write("<option " + selected[0] + " value=\"0\"><% GetMultiLangStr("genie_97") %></option>");
		document.write("<option " + selected[1] + " value=\"1\"><% GetMultiLangStr("genie_147") %></option>");
		document.write("<option " + selected[2] + " value=\"2\"><% GetMultiLangStr("genie_146") %></option>");
		document.write("<option " + selected[3] + " value=\"3\"><% GetMultiLangStr("genie_140") %></option>");
		document.write("<option " + selected[4] + " value=\"4\"><% GetMultiLangStr("genie_143") %></option>");
		document.write("<option " + selected[5] + " value=\"5\"><% GetMultiLangStr("genie_148") %></option>");
		document.write("<option " + selected[6] + " value=\"6\"><% GetMultiLangStr("genie_62") %></option>");
		document.write("<option " + selected[7] + " value=\"7\"><% GetMultiLangStr("genie_61") %></option>");
		document.write("<option " + selected[8] + " value=\"8\"><% GetMultiLangStr("genie_139") %></option>");
	document.write("</select>");	
	document.close();
	
	return true;
}

function checkData()
{
    var cf = document.forms[0];

    if (cf.sysNewPasswd.value == "")
    {
        alert("<% GetMultiLangStr("ADDE02") %>");
        return false;
    }

    if(cf.sysNewPasswd.value == "password")
    {
        alert("<% GetMultiLangStr("SWP080") %>");
        return false;
    }

    if(cf.sysNewPasswd.value.length < 6)
    {
        alert("<% GetMultiLangStr("PCVP_043") %>");
        return false;
    }

    if (cf.sysNewPasswd.value.length >= 33 || cf.sysConfirmPasswd.value.length >= 33)
    {
        alert("<% GetMultiLangStr("MSPE01") %>");
        return false;
    }

    if(cf.sysNewPasswd.value != cf.sysConfirmPasswd.value)
    {
        alert("<% GetMultiLangStr("SWPE13") %>");
        cf.sysConfirmPasswd.focus();
        return false;
    }

    if(!cf.checkPassRec.checked)
    {	
        if(confirm("<% GetMultiLangStr("genie_59") %>"))
        {
            return true;
        }
        else
        {
            return false;
        }
    }	

    if(cf.checkPassRec.checked)
    {
        if(cf.answer1.value.length < 1 || cf.answer1.value.length > 64)
        {
            alert("<% GetMultiLangStr("genie_95") %>");
            return false;
        }
        if(cf.answer2.value.length < 1 || cf.answer2.value.length > 64)
        {
            alert("<% GetMultiLangStr("genie_95") %>");
            return false;
        }

        if(cf.question1.value == 0 || cf.question2.value == 0)
        {
            alert("<% GetMultiLangStr("genie_97") %>");
            return false;
        }
    }

    return true;
}

function timestamp(){
	var timestamp = new Date();


	document.write(timestamp);
    return true;
}

function checkPasswdRecovery()
{	
	var cf = document.forms[0];	
	if(cf.checkPassRec.checked)
	{	
		document.getElementById("PasswdRecovery").style.display="block";
	}
	else
	{
		document.getElementById("PasswdRecovery").style.display="none";
	}
	return true;
}
function showCheckBox()
{
	var cf = document.forms[0];	

	if("<% GetPageCfg("chechPassRec") %>"==1)
	{
		document.open();
		document.write("<label class=\"checkbox-container\"><% GetMultiLangStr("genie_36") %><input type=\"checkbox\"  onClick=\"checkPasswdRecovery();\" name=\"checkPassRec\" id=\"enable_recovery\" value=\"1\" checked><% GetMultiLangStr("SWP073") %><span class=\"checkbox-checkmark\"></span></label>");
		document.close();
	}
	else
	{
		document.open();
		document.write("<label class=\"checkbox-container\"><% GetMultiLangStr("genie_36") %><input type=\"checkbox\"  onClick=\"checkPasswdRecovery();\" name=\"checkPassRec\" id=\"enable_recovery\" value=\"1\"><% GetMultiLangStr("SWP073") %><span class=\"checkbox-checkmark\"></span></label>");
		document.close();
	}
	
	return true;
}

  function sendpasswdcheck()
  {
	var cf = document.forms[0];
	var passwd=cf.sysNewPasswd.value;
    var check_result=true;
    if(passwd != "")
	{
        var conditions = 0;
        var containSpecial = RegExp(/[(\ )(\!)(\")(\#)(\)(\$)(\%)(\&)(\')(\()(\))(\*)(\+)(\,)(\-)(\.)(\/)(\:)(\;)(\<)(\=)(\>)(\?)(\@)(\[)(\\)(\])(\^)(\_)(\`)(\{)(\|)(\})(\~)]/);

        if (cf.sysNewPasswd.value.match(/[A-Z]/)) {
            document.getElementById("weak_password_rule1_1").style.display="table-cell";
            document.getElementById("weak_password_rule1_1_gray").style.display ="none";
            conditions += 1;
        }
        else{
            document.getElementById("weak_password_rule1_1").style.display="none";
            document.getElementById("weak_password_rule1_1_gray").style.display="table-cell";
        }

        if (cf.sysNewPasswd.value.match(/[a-z]/)) {
            document.getElementById("weak_password_rule1_2").style.display="table-cell";
            document.getElementById("weak_password_rule1_2_gray").style.display ="none";
            conditions += 1;
        }
        else{
            document.getElementById("weak_password_rule1_2").style.display ="none";
            document.getElementById("weak_password_rule1_2_gray").style.display="table-cell";
        }

        if (cf.sysNewPasswd.value.match(/[0-9]/)) {
            document.getElementById("weak_password_rule1_3").style.display="table-cell";
            document.getElementById("weak_password_rule1_3_gray").style.display ="none";
            conditions += 1;
        }
        else{
            document.getElementById("weak_password_rule1_3").style.display ="none";
            document.getElementById("weak_password_rule1_3_gray").style.display="table-cell";
        }

        if (containSpecial.test(cf.sysNewPasswd.value)) {
            document.getElementById("weak_password_rule1_4").style.display="table-cell";
            document.getElementById("weak_password_rule1_4_gray").style.display ="none";
            conditions += 1;
        }
        else{
            document.getElementById("weak_password_rule1_4").style.display ="none";
            document.getElementById("weak_password_rule1_4_gray").style.display="table-cell";
        }

        if (conditions < 3) {
            document.getElementById("weak_password_rule1").style.display ="none";
            document.getElementById("weak_password_rule1_gray").style.display="table-cell";
            check_result = false;
        }
        else {
            document.getElementById("weak_password_rule1").style.display="table-cell";
            document.getElementById("weak_password_rule1_gray").style.display ="none";
        }
 
 
		if (cf.sysNewPasswd.value.length < 6 || cf.sysNewPasswd.value.length > 32 ) {
            document.getElementById("weak_password_rule2").style.display ="none";
            document.getElementById("weak_password_rule2_gray").style.display="table-cell";
            check_result = false;
        }
        else {
            document.getElementById("weak_password_rule2").style.display="table-cell";
            document.getElementById("weak_password_rule2_gray").style.display ="none";
        }

        if (/(\W)\1\1/.test(cf.sysNewPasswd.value) || /(\w)\1\1/.test(cf.sysNewPasswd.value)) {
            document.getElementById("weak_password_rule4").style.display ="none";
            document.getElementById("weak_password_rule4_gray").style.display="table-cell";
            check_result = false;
        }
        else {
            document.getElementById("weak_password_rule4").style.display="table-cell";
            document.getElementById("weak_password_rule4_gray").style.display ="none";
        }

        if (check_result == false)
		{
            document.getElementById("Netgear_img_blank").style.display="none";
			document.getElementById("Netgear_img").style.display="none";
			document.getElementById("Netgear_img_no").style.display="table-cell";
			document.getElementById("password_rules").style.display="table-row";
            //document.getElementById("apply-left").className="roundleft_grey";
            //document.getElementById("apply-right").className="roundright_grey";
            //cf.cfAlert_Apply.disabled = true;
            cf.PWD_PasswdWeak.value = 1;
		}
        else {
            document.getElementById("Netgear_img_blank").style.display="none";
            document.getElementById("Netgear_img").style.display="table-cell";
            document.getElementById("Netgear_img_no").style.display="none";
            document.getElementById("password_rules").style.display="none";
			cf.cfAlert_Apply.disabled = false;
			 cf.PWD_PasswdWeak.value = 0;
        }
        document.getElementById("apply-left").className="roundleft_apply";
        document.getElementById("apply-right").className="roundright_apply";
    }
    else {
        document.getElementById("Netgear_img_blank").style.display="table-cell";
	    document.getElementById("Netgear_img").style.display="none";
        document.getElementById("Netgear_img_no").style.display="none";
        document.getElementById("password_rules").style.display="none";
        document.getElementById("apply-left").className="roundleft_grey";
        document.getElementById("apply-right").className="roundright_grey";
        cf.cfAlert_Apply.disabled = true;
        cf.PWD_PasswdWeak.value = 1;

    }
    return true;
  }
//-->
</script>
<link href="css/custom.css" rel="stylesheet" type="text/css">
</head>

<body  onload="change_size();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="img/cover-image_noh.gif">
<img class="body-image" src="img/subhead2-background_noh.jpg">
<div id="full-page-container">


<form id="target"  method="POST" action="/password.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top_noh.gif">
<!--
<div class="subhead2"> Set Password</div>
-->
<div class="subhead2" id="page_title"> <% GetMultiLangStr("LUP025") %></div>
<table border="0"    style="height:370px"  class="subhead2-table main_bas pt-30">

<tr align="left" valign="middle">
<td  colspan="2" class="table-seperate-border ">
<div class="fix_button">	
<button value="Cancel" onclick="buttonClick(this,'Cancel');"  type="RESET" name="Cancel" class="button-cancel cancel_bt" ><% GetMultiLangStr("UAS021") %></button>
	
<button value="Apply"  onClick="buttonClick(this,'Apply');return checkData()" type="SUBMIT" name="cfAlert_Apply" class="button-apply apply_bt" ><% GetMultiLangStr("LUP004") %></button>
</div>	
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


	<tr>
<!--
	<td nowrap width="50%" align="left">Old Password</td>
-->
	<td nowrap width="50%" align="left" class="btm0 pt-80"><% GetMultiLangStr("MSP001") %></td>
	<td nowrap width="50%" align="right"  class="top0"><input type="password" class="input1" name="sysOldPasswd" id="sys_old_passwd" size="18" maxlength="32"></td>
<tr>
<!--
 <td nowrap width="50%" align="left">Set Password</td>
-->
 <td nowrap width="50%" align="left" class="btm0"><% GetMultiLangStr("LUP025") %></td>
 <td nowrap width="50%" align="right" class="top0"><input type="password" name="sysNewPasswd" class="input1" id="sys_new_passwd" size="18" maxlength="33" onkeyup="return key_check()" onkeydown="return key_check_down()"></td>
 <td nowrap width="30%" align="left" id="Netgear_img_blank"></td>
 <td width="30%" align="left" id="Netgear_img" style="display: none; white-space: nowrap; font-size:12px; color: green"><img src="DDNS_Yes.png" style="vertical-align:middle; width:16px;height:16px"></td>
 <td width="30%" align="left" id="Netgear_img_no" style="display: none; white-space: nowrap; font-size:12px; color: red"><img src="warning.png" style="vertical-align:middle; width:16px;height:16px"></td>
</tr>
<tr id="password_rules" style="display: none">
            <td width="40%" align="left" colspan="2" style="margin-top: -17px"><div style="border-radius:30px; background-color:#D3D3D3; font-size:10px; width: 600px">
            <table>
              <tr>
                <td width="100%" align="left" colspan="3" style="display: table-cell;padding-left:20px;height:22px"><% GetMultiLangStr("PCVP_032") %></td>
              </tr>
              <tr style="display: flex">
                <td width="5%" align="left"><img id="weak_password_rule2" src="DDNS_Yes.png" style="display: none;padding-left:20px;height:75%"><img id="weak_password_rule2_gray" src="DDNS_Yes_gray.png" style="display: table-cell;padding-left:20px;height:75%"></td>
                <td width="95%" colspan="2" align="left" style="height:22px;padding-left: 25px"><% GetMultiLangStr("PCVP_033") %></td>
              </tr>
              <tr style="display: flex">
                <td width="5%" align="left"><img id="weak_password_rule4" src="DDNS_Yes.png" style="display: none;padding-left:20px;height:75%"><img id="weak_password_rule4_gray" src="DDNS_Yes_gray.png" style="display: table-cell;padding-left:20px;height:75%"></td>
                <td width="95%" colspan="2" align="left" style="height:22px;padding-left: 25px"><% GetMultiLangStr("PCVP_034") %></td>
              </tr>
              <tr style="display: flex">
                <td width="5%" align="left"><img id="weak_password_rule1" src="DDNS_Yes.png" style="display: none;padding-left:20px;height:75%"><img id="weak_password_rule1_gray" src="DDNS_Yes_gray.png" style="display: table-cell;padding-left:20px;height:75%"></td>
                <td width="95%" colspan="2" align="left" style="height:22px;padding-left: 25px"><% GetMultiLangStr("PCVP_035") %></td>
              </tr>
              <tr style="display: flex;padding-left: 25px;">
                <td width="5%" align="left">
                <td width="5%" align="left"><img id="weak_password_rule1_1" src="DDNS_Yes.png" style="display: none;height:75%"><img id="weak_password_rule1_1_gray" src="DDNS_Yes_gray.png" style="display: table-cell;height:75%"></td>
                <td width="90%" align="left"><% GetMultiLangStr("PCVP_036") %></td>
              </tr>
              <tr style="display: flex;padding-left: 25px;">
                <td width="5%" align="left">
                <td width="5%" align="left"><img id="weak_password_rule1_2" src="DDNS_Yes.png" style="display: none;height:75%"><img id="weak_password_rule1_2_gray" src="DDNS_Yes_gray.png" style="display: table-cell;height:75%"></td>
                <td width="90%" align="left"><% GetMultiLangStr("PCVP_037") %></td>
              </tr>
              <tr style="display: flex;padding-left: 25px;">
                <td width="5%" align="left">
                <td width="5%" align="left"><img id="weak_password_rule1_3" src="DDNS_Yes.png" style="display: none;height:75%"><img id="weak_password_rule1_3_gray" src="DDNS_Yes_gray.png" style="display: table-cell;height:75%"></td>
                <td width="90%" align="left"><% GetMultiLangStr("PCVP_038") %></td>
              </tr>
              <tr style="display: flex;padding-left: 25px;">
                <td width="5%" align="left">
                <td width="5%" align="left"><img id="weak_password_rule1_4" src="DDNS_Yes.png" style="display: none;height:75%"><img id="weak_password_rule1_4_gray" src="DDNS_Yes_gray.png" style="display: table-cell;height:75%"></td>
                <td width="90%" align="left"><% GetMultiLangStr("PCVP_039") %></td>
              </tr>
            </table>
            </div></td>
</tr>
<tr>
<!--
 <td nowrap width="50%" align="left">Repeat New Password</td>
-->
 <td nowrap width="50%" align="left" class="btm0"><% GetMultiLangStr("MSP003") %></td>
 <td nowrap width="50%" align="right" class="top0"><input type="password" name="sysConfirmPasswd" class="input1" id="sys_confirm_passwd" size="18" maxlength="33"></td>
</tr>


<tr>
<td colspan="2" >
<table>
	<tr>
		<td colSpan=2 colspan="2" class="pt-15">
				<script language="javascript" type="text/javascript">
				//<!--
				showCheckBox();	
				//-->
				</script>
		</td>
<!--
		<td>Enable Password Recovery</td>
-->
	</tr>
</table>
</td>
</tr>
<tr>
<td colspan="2" >
<div id="PasswdRecovery" style="display: none;">
	<table>
		<tr>

<!--
			<td align="right">Security Question #1*: </td>
-->
			<td align="right"><% GetMultiLangStr("genie_117") %>*: </td>
			<td>
				<script language="javascript" type="text/javascript">
				<!--
				showQuestion1();	
				//-->
				</script>
			</td>
		</tr>
		<tr>
<!--
			<td align="right">Answer*: </td>
-->
			<td align="right" class="btm0"><% GetMultiLangStr("genie_17") %>*: </td>

			<td class="top0"><input type="text" class="input1" name="answer1" id="answer1" size="64" maxlength="64" value="<% GetPageCfg("answer1") %>"></td>
		</tr>
		<tr>
<!--
			<td align="right">Security Question #2*: </td>
-->
			<td align="right"><% GetMultiLangStr("genie_118") %>*: </td>
			<td>
				<script language="javascript" type="text/javascript">
				<!--
				showQuestion2();
				checkPasswdRecovery();
				//-->
				</script>

			</td>
		</tr>
		<tr>
<!--
			<td align="right">Answer*: </td>
-->
			<td align="right" class="btm0"><% GetMultiLangStr("genie_17") %>*: </td>
			<td class="top0"><input type="text" class="input1" name="answer2" id="answer2" size="64" maxlength="64" value="<% GetPageCfg("answer2") %>"></td>
		</tr>
		<tr>

<!--
			<td align="right">*=required information</td>
-->
			<td align="right"><% GetMultiLangStr("genie_6") %></td>
		</tr>	

		<tr>
<!--
			<td>Last time password was recovered</td>
-->
			<td><% GetMultiLangStr("genie_72") %></td>
			<td><% GetPageCfg("last_recovery") %></td>

		</tr>

		<tr></tr>
	</table>
</div> <!-- end PasswdRecovery -->
</td>
</tr>



<tr>
<td colspan="2" align="center">

<script language="javascript" type="text/javascript">
<!--
	document.open();
	document.write("<input type=\"hidden\" name=\"timestamp_value\" value=\"");
	timestamp();
	document.write("\">");
	document.close();
//-->
</script>

</td>
</tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe" src="PWD_passwd_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
 <div class="subhead2-bottom" >
    <span class="help_ico"><img src="img/help-icon.png" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text help_center_text" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <% GetMultiLangStr("genie_51") %> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.png" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text help_right_text" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <% GetMultiLangStr("genie_123") %> </span>
      </div>




<a name="helpframe-anchor"></a>
<INPUT type="hidden" name="PWD_PasswdWeak" value="<% GetCommonCfg("PWD_PasswdWeak") %>">
<INPUT type="hidden" name="USER_SET_TOKEN" value="<% GetCommonCfg("USER_SET_TOKEN") %>">
</form>

</div>
</body>

</html>
