

<!DOCTYPE HTML>
<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<title>NETGEAR Router RAX40</title>
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="form.css"> <!--To become single liteblue-->

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript">
function close_window() {
    close();
}
</script>
<link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body>
<form id="cf">
<table border="0">
<tr>
<td>
<font size="3">
<% GetPageCfg("SetupWizard_router_tnc_detail") %>
<br><br>
<div align="center">
<button  class="button-rule" onclick="close_window();return false;"><span class="roundleft_button">&nbsp;&nbsp; <% GetMultiLangStr("OTH002") %></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</div>
</font>
</form>
</body>
</html>

