<!DOCTYPE HTML>
<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title>
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language=JavaScript type="text/javascript">

var t;

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            window.clearTimeout(t);
            buttonFilter();
        });

    });



function Fresh() 
{
	var cf = document.forms[0];
	if(cf.refreshScrn.value == "yes")
		t = window.setTimeout("location.href='RST_st_dhcp.htm'",10000);
// reload if not connected	
}
</script>
	<link href="css/custom.css" rel="stylesheet" type="text/css">
	<style>
		.tbWhite tbody tr:first-child td{border-top:0 none;}
	</style>
</head>

<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text=black onLoad="Fresh()" style="margin:0px;">

<form id="target"  method="post" action="st_dhcp.cgi?">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><div class="subhead2 page_title"><% GetMultiLangStr("MRS006") %> </div></TD>
 </TR>
 
</TABLE>
<br><br>
<table border="0" cellpadding="0" cellspacing="3" width="100%">

<!--<tr> 
 <td background="liteblue.gif" height="12">&nbsp; </td>
</tr>-->
</table>

<div class="pt-30 pl28">
<table width="100%" border="0" class="cmn-table-2 tbWhite" id="dhcp_connect">
	<tr>
		<TD NOWRAP width="50%"><B><% GetMultiLangStr("SWP030") %></B></td>
        
		<TD NOWRAP width="50%"><% GetPageCfg("RST_st_dhcp_wan_ip") %></td>
        
        <!--
        <TD NOWRAP width="50%">0.0.0.0</td>
        -->
	</tr>
	
	<tr>
		<TD NOWRAP><B><% GetMultiLangStr("MRS016") %></B></td>
        
		<TD NOWRAP><% GetPageCfg("RST_st_dhcp_wan_subnetMask") %></td>
        
        <!--
        <TD NOWRAP width="50%">0.0.0.0</td>
        -->        
	</tr>
	<tr>
		<TD NOWRAP><B><% GetMultiLangStr("MRS045") %></B></td>
        
		<TD NOWRAP><% GetPageCfg("RST_st_dhcp_wan_daefaultGateway") %></td>
        
        <!--
        <TD NOWRAP width="50%">0.0.0.0</td>
        -->           
	</tr>
	<tr>
		<TD NOWRAP><B><% GetMultiLangStr("MRS003") %></B></td>
		<TD NOWRAP><% GetPageCfg("RST_st_dhcp_wan_dhcpServer") %>&#32;</td>
	</tr>
	<tr>
		<TD NOWRAP><B><% GetMultiLangStr("MRS004") %></B></td>
        
                <TD NOWRAP><% GetPageCfg("RST_st_dhcp_wan_dnsPrimary") %><br><% GetPageCfg("RST_st_dhcp_wan_dnsSecond") %><br></td>
        
        <!--
        <TD NOWRAP width="50%">0.0.0.0<br></td>
        -->                   
	</tr>
	<tr>
		<TD NOWRAP><B><% GetMultiLangStr("MRS007") %></B></td>
		<TD NOWRAP><% GetPageCfg("RST_st_dhcp_wan_leaseObtained") %></td>
	</tr>
	<tr>
		<TD NOWRAP><B><% GetMultiLangStr("MRS005") %></B></td>
		<TD NOWRAP><% GetPageCfg("RST_st_dhcp_wan_leaseExpired") %></td>
	</tr>
</table>
</div>
<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <TR>
 <TD align="center" nowrap class="pt-30 pl28">
	<button type="submit" value="Release" name="release" id="disconnect" class="button-sty1" onclick="buttonClick(this,'Release');" ><% GetMultiLangStr("MRS018") %></button>
	<button type="submit" value="Renew" name="renew" id="connect" class="button-sty1" onclick="buttonClick(this,'Renew');" ><% GetMultiLangStr("MRS019") %></button>
	<button type=button value="Close Window" name="close" id="close" class="button-sty1" onclick="buttonClick(this,'Close Window');self.close();"><% GetMultiLangStr("WP0006") %></button>
	<!--
	<button type="submit" value="Renew" name="connect" class="button-sty1" onclick="buttonClick(this,'Renew');" disabled ><span class="roundleft_grey" >&nbsp;&nbsp; <% GetMultiLangStr("MRS019") %></span><span class="roundright_grey" >&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	-->
  </TD>
</TR>
<TR>
 <TD align="center">&nbsp;&nbsp;&nbsp;</TD>
</TR>
<!--<tr> 
 <td background="liteblue.gif" height="12">&nbsp; </td>
</tr>
 <TR>
 <TD align="center">&nbsp;&nbsp;&nbsp;<button type=button value="Close Window" name="close" id="close" class="button-sty1" onclick="buttonClick(this,'Close Window');self.close();">Close Window</button></TD>
</TR>-->
</TABLE>


<input type="hidden" name="refreshScrn" value="yes">
<INPUT type="hidden" name="USER_SET_TOKEN" value="<% GetCommonCfg("USER_SET_TOKEN") %>">
</form>

</body>
</html>

