<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var pchar = "|"; // progress char
var maxchars = 94;
var delay_time = 1000; // msecs
var charcount = 0;

function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}

function updateProgress()
{
	if (charcount < maxchars)
	{
		charcount ++;
		document.forms[0].progress.value = makeStr(charcount,pchar);
		setTimeout("updateProgress()",delay_time);
	}
}
function data_check()
{
//    if (top.tophideframe)
    {
        document.forms[0].menu_top_hide.value = "yes";
    }
}

//-->
</script>
<link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#ffffff" onLoad="data_check();updateProgress();document.forms[0].submit();">
<form name="formname" method="POST" action="/ver_write.cgi"> 
<div class="main_bas">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2">
	<h1><% GetMultiLangStr("genie_946") %></H1>
</td>
</tr>



<tr>
    <td colspan="2" align="center"><b><% GetMultiLangStr("MRU035") %></b></td>
</tr>
<tr>
</tr>

<tr><td colspan="2" height="12"><div class="divider">&nbsp;</div></td></tr>

<tr>
 <td nowrap><BIG><% GetMultiLangStr("genie_950") %>
 </BIG></td>
</tr>
<tr>
 <td nowrap align="center"><input type="text" name="progress" id="progress" value="" style="color: blue" size="42"></td>
</tr>

<tr><td nowrap align="center"><br><img src="upload_new.gif" width="290" height="82" alt="" border="0"></td></tr>
</table>
</div>

<input type="hidden" name="stop" value="no">
<input type="hidden" name="pgbarcount" value="0">
<input type="hidden" name="menu_top_hide" value="no">
<input type="hidden" name="USER_SET_TOKEN" value="<% GetCommonCfg("USER_SET_TOKEN") %>">
</form>
<p></p>

</body>
</html>

