<!DOCTYPE HTML>
<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title> 
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {
        $("#target").submit(function() {
            buttonFilter();
        });

    });

//-->
</script> 
</head>
<body  onload="change_size();" class="page-body" onResize="change_size();" >
<img class="cover-image" src="img/cover-image_noh.gif">
<img class="body-image" src="img/subhead2-background_noh.jpg">
<div id="full-page-container">

<form id="target" method="POST" action="">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top_noh.gif">
<!--
<div class="subhead2"> VPN GUI - iPhone Instruction</div>
-->
<div class="subhead2"> <% GetMultiLangStr("AQS163") %></div>

<table border="0" style="height:370px" class="subhead2-table">
<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto">
<table style="border-collapse:collapse;width:97%">

<TR>
<TD>
<!--
<BR>To install iPhone/iPad VPN client on your client devices:
<BR>Step 1: Select the Enable VPN Service check box and click the Apply button.
<BR>Step 2: Download the client utility (e.g. OpenVPN Connect) from <a style="color:#0000EE" href='https://itunes.apple.com/tw/app/openvpn-connect/id590379981?mt=8' target='_blank'>Apple App Store</a>and install it on the devices where you want to run the VPN client.
<BR>Step 3: Click the "For Smart Phone" button to download the configuration files for your VPN clients.
<BR>Step 4: Unzip the configuration files you have just downloaded and use iTune to upload them to the folder of "OpenVPN Connect" on your device. 
<BR>Step 5: Client utility must be installed and import the configuration file, please refer to  <a style="color:#0000EE" href='http://www.vpngate.net/en/howto_openvpn.aspx#ios' target='_blank'>http://www.vpngate.net/en/howto_openvpn.aspx#ios</a> 
<BR>Note: if you want to make any change in Advanced Configurations section, please make the changes before you download the configuration files in Step 3.
-->
<BR><% GetMultiLangStr("vpn194") %>
<BR><% GetMultiLangStr("vpn167") %>
<BR><% GetMultiLangStr("vpn195") %>
<BR><% GetMultiLangStr("AQS178") %>
<BR><% GetMultiLangStr("AQS179") %> 
<BR><% GetMultiLangStr("vpn197") %>
<BR><% GetMultiLangStr("vpn157") %>
</TD>
</TR>

</table>
</div></td></tr>
</table>

</form>
</div>
</body>
</html>
