<!DOCTYPE HTML>
<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title> 
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {
        $("#target").submit(function() {
            buttonFilter();
        });

    });

//-->
</script> 
</head>
<body  onload="change_size();" class="page-body" onResize="change_size();" >
<img class="cover-image" src="img/cover-image_noh.gif">
<img class="body-image" src="img/subhead2-background_noh.jpg">
<div id="full-page-container">

<form id="target" method="POST" action="">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="img/subhead2-top_noh.gif">
<!--
<div class="subhead2"> VPN GUI - MAC Instruction </div>
-->
<div class="subhead2"> <% GetMultiLangStr("AQS166") %> </div>

<table border="0" style="height:370px" class="subhead2-table">
<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto">
<table style="border-collapse:collapse;width:97%">

<TR>
<TD>
<!--
<BR>To install Mac VPN client on your client devices:
<BR>Step 1: Select the Enable VPN Service check box and click the Apply button.
<BR>Step 2: Download and install application "OpenVPN Connect" utility from App Store.
<BR>Step 3: Click the "For non-Windows" button to download the configuration files for your VPN clients.
<BR>Step 4: Unzip the configuration files you have just downloaded and use iTune to upload them to the folder of "OpenVPN Connect" on your device. 
<BR>Step 5: Run the application "OpenVPN Connect", you will find a profile related with the configuration file you just uploaded. Then connect with the profile. 
<BR>Step 6: For help connecting using OpenVPN clients, please refer to <a style="color:#0000EE" href=http://openvpn.net/index.php/open-source/documentation/howto.html#quick target="_blank">http://openvpn.net/index.php/open-source/documentation/howto.html#quick</a> and <a style="color:#0000EE" href=http://openvpn.net/index.php/access-server/docs/admin-guides-sp-859543150/howto-desktop-client-configuration/495-connecting-to-openvpn-access-server-using-the-connect-client-on-mac.html>http://openvpn.net/index.php/access-server/docs/admin-guides-sp-859543150/howto-desktop-client-configuration/495-connecting-to-openvpn-access-server-using-the-connect-client-on-mac.html</a>
<BR>Note: if you want to make any change in Advanced Configurations section, please make the changes before you download the configuration files in Step 3.
-->
<BR><% GetMultiLangStr("vpn191") %>
<BR><% GetMultiLangStr("vpn167") %>
<BR><% GetMultiLangStr("AQS167") %>
<BR><% GetMultiLangStr("AQS181") %>
<BR><% GetMultiLangStr("AQS179") %>
<BR><% GetMultiLangStr("AQS169") %> 
<BR><% GetMultiLangStr("AQS170") %>
<BR><% GetMultiLangStr("vpn157") %>
</TD>
</TR>

</table>
</div></td></tr>
</table>

</form>
</div>
</body>
</html>
