<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<title>NETGEAR Router RAX40</title>
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>
<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>

<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var initialized = false;

function displayWepRadio()
{
    var cf = document.forms[0];
    var wlan_mode = "<% GetPageCfg("Guest_2g_None_displayWepRadio_wlan_mode") %>";
    
    if (wlan_mode == "g&#32;and&#32;b")//Up to 54Mbps
    {
        document.getElementById("wep_radio_2G").style.display="block";
        
    }
    else
    {
        document.getElementById("wep_radio_2G").style.display="none";
    }
}

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;

    if (fm.bssid_enable.value == "1")
        fm.enable_bssid.checked = true;
    else
        fm.enable_bssid.checked = false;

    if (fm.ssid_bc_enable.value == "1")
        fm.enable_ssid_bc.checked = true;
    else
        fm.enable_ssid_bc.checked = false;

    if(fm.enable_allow_see_access.value == "1" || fm.enable_apmode.value == "1" || fm.enable_extender.value == "1")
        fm.allow_see_access.checked = true;
    else    
        fm.allow_see_access.checked = false;

    if(fm.enable_apmode.value == "1" || fm.enable_extender.value == "1")
        fm.allow_see_access.disabled = true;


    //displayWepRadio();
    
    initialized=true;
}

function wpapskCheck()
{
    var cf = document.forms[0];
    var wlan_mode = "<% GetPageCfg("Guest_2g_None_wpapskCheck_wlan_mode") %>";
    if (wlan_mode != "g&#32;and&#32;b")
    {
        alert("<% GetMultiLangStr("SWSW04") %>");
    	document.forms[0].submit();
    }
    else
        document.forms[0].submit();
}
function autopskCheck()
{
    var cf = document.forms[0];
    var wlan_mode = "<% GetPageCfg("Guest_2g_None_autopskCheck_wlan_mode") %>";
    if (wlan_mode != "g&#32;and&#32;b")
    {
        alert("<% GetMultiLangStr("SWSW04") %>");
        document.forms[0].submit();
    }
    else
        document.forms[0].submit();
    return true;
}

function checkData()
{
    var cf = document.forms[0];

    
    if (cf.ssid.value == "")
    {
        alert("<% GetMultiLangStr("SWSE07") %>");
        return false;
    }

    if (cf.ssid.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<% GetMultiLangStr("SWSE02") %>");
        cf.ssid.focus();
        return false;
    }
    if(cf.enable_ssid_bc.checked)
    {
        parent.document.forms[0].enable_ssid_bc.value = "ssid_24G_bc";    
    }
    else
    {
        parent.document.forms[0].enable_ssid_bc.value = "";
    }
    if(cf.enable_bssid.checked)
    {
        parent.document.forms[0].enable_bssid.value = 1;
    }
    else
    {
        parent.document.forms[0].enable_bssid.value = "";
    }

    if(cf.allow_see_access.checked)
    {
        parent.document.forms[0].allow_see_access.value = 1;
    }
    else
    {
        parent.document.forms[0].allow_see_access.value = "";
    }
    parent.document.forms[0].ssid.value = cf.ssid.value;
    parent.document.forms[0].security_type.value = "None";   
    parent.document.forms[0].load_2g_frame.value = "1";
    return true;
}
// -->
</script>
<link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body  onload="initScrn();" style="background-color:transparent">
<form method="POST" action="wlg_sec_profile_main.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<table class="tbl_1" border="0" cellpadding="0" cellspacing="3" width="100%">

<tr>
<td colspan="2" class="mt-15"><a href="javascript:parent.loadhelp('WLG_wireless_2','wireless')" tabindex="-1"><b><% GetMultiLangStr("SWS038") %> (2.4 GHz b/g/n/ax) - <% GetMultiLangStr("SGN008") %></b></a></td>
</tr>
<tr>
<td align="left" class="pt-15">
    <label class="checkbox-container"><% GetMultiLangStr("SGN002") %>
        <input type="checkbox" name="enable_bssid" id="enable_bssid" value="1">
        <span class="checkbox-checkmark"></span> 
    </label>
</td>
</tr>

<tr>
<td align="left" class="pt-15">
    <label class="checkbox-container"><% GetMultiLangStr("SGN003") %>
        <input type="checkbox" name="enable_ssid_bc" id="enable_ssid_bc" value="1">
        <span class="checkbox-checkmark"></span>
    </label>
</td>
</tr>


<tr>
<td align="left" class="pt-15">
    <label class="checkbox-container"><% GetMultiLangStr("SGN014") %>
        <input type="checkbox" name="allow_see_access" id="allow_access" value="1">
        <span class="checkbox-checkmark"></span> 
    </label>
</td>
</tr>

<tr>
<td width="50%" align="left" class="pt-25"><% GetMultiLangStr("SGN005") %>:</td>
<td width="50%" class="pb-15">
<input type="text" class="input1" name="ssid" id="ssid" value="<% GetPageCfg("Guest_2g_None_ssid") %>" size="20" maxlength="32"></td>
</tr>

<tr>
    <td colspan="2" height="12"><div style="background-image:url('seprator.gif');width:100%;background-repeat:repeat-x;">&nbsp;</div></td></tr>
<tr>
    <td colspan="2" class="pt-15 pb-15"><a href="javascript:parent.loadhelp('WLG_wireless_2','security')" tabindex="-1"><b><% GetMultiLangStr("SWS036") %> - <% GetMultiLangStr("SGN008") %></b></a></td></tr>

<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
<tr>
        <td colspan="2" class="pt-15 pb-0">
            <label class="checkbox-container"><% GetMultiLangStr("SWS016") %>
			  <input type="radio" name="security_type" id="security_disable" value="Disable" checked >
                <span class="radio-checkmark"></span> 
			</label>
            </td></tr>
<!--
<tr>
        <td colspan="2">
            <div id="wep_radio_2G" style="display: none;">
                <label class="checkbox-container"><% GetMultiLangStr("SWS021") %>
                    <input type="radio" name="security_type" id="security_wep" value="WEP" onClick="buttonFilter();this.form.submit();" >
                    <span class="radio-checkmark"></span> 
				</label>
            </div>    
        </td>
</tr>
-->
<!--
<tr>
    <td colspan="2"><input type="radio" name="security_type" value="WPA-PSK"  onClick="wpapskCheck();" >WPA-PSK [TKIP]</td></tr>
-->    
<tr>
        <td colspan="2" class="pt-15">
            <label class="checkbox-container"><% GetMultiLangStr("SWS022") %>
                <input type="radio" name="security_type" id="security_wpa2" value="WPA2-PSK"  onClick="buttonFilter();this.form.submit();" >
                <span class="radio-checkmark"></span> 
            </label>
        </td>
</tr>
<tr>
        <td colspan="2" class="pt-15 pb-15">
            <label class="checkbox-container"> <% GetMultiLangStr("SWS023") %>
                <input type="radio" name="security_type" id="security_wpa_enter" value="AUTO-PSK"  onClick="autopskCheck();" >
                <span class="radio-checkmark"></span> 
            </label>
        </td>
</tr>
</table>
</td></tr>
  </table>
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="bssid_enable" value="<% GetPageCfg("Guest_2g_None_bssid_enable") %>">
  <input type="hidden" name="ssid_bc_enable" value="<% GetPageCfg("Guest_2g_None_ssid_bc_enable") %>">

<input type="hidden" name="enable_allow_see_access" value="<% GetPageCfg("Guest_2g_None_enable_allow_see_access") %>"> 
  <input type="hidden" name="enable_apmode" value="<% GetPageCfg("Guest_2g_None_enable_apmode") %>">
  <input type="hidden" name="enable_extender" value="0">
  <INPUT type="hidden" name="USER_SET_TOKEN" value="<% GetCommonCfg("USER_SET_TOKEN") %>">
</form>
</body>
</html>

