<!DOCTYPE HTML>
<html>
<head>
<META name="description" content="RAX40">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<META http-equiv="Content-Style-Type" content="text/css">
<META http-equiv="Pragma" content="no-cache">
<META HTTP-equiv="Cache-Control" content="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">

<link rel="stylesheet" href="form.css">
<title>NETGEAR Router RAX40</title>
<link rel="stylesheet" href="css/table_noh.css">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">
 <link href="css/custom.css" rel="stylesheet" type="text/css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



//--></script>
<link href="css/custom.css" rel="stylesheet" type="text/css"> 
</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="'MNU_menu.htm'" style="margin:0px;background-color:#ffffff">
<form id="target"  name="msg" action="message.cgi" method="post" onSubmit="return false">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<tr><td align="left"><div class="subhead2"><% GetMultiLangStr("AWC007") %></div></td></tr>
</table>



<table class="pt-40" WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<tr><td align=center><b><% GetMultiLangStr("AWC013") %> '<% GetPageCfg("WPS_hostname") %>' (<% GetPageCfg("WPS_macaddr") %>) <% GetMultiLangStr("AWC015") %></b></TD></TR>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr><td colspan="2" height="12"><div style="background-image:url('seprator.gif');width:100%; background-repeat:repeat-x;">&nbsp;</div></td>
</tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<TR><td align=center><% GetMultiLangStr("AWC008") %>...</TD></TR>
<TR><TD align=center>&nbsp;&nbsp;&nbsp;<button TYPE="BUTTON" value="OK" NAME="OK" class="button-common" onclick="buttonClick(this,'OK');location.href='WPS.htm'"><% GetMultiLangStr("UAS020") %></button></TD></TR>	
</TABLE>
</form>
</BODY>
</HTML>

